/*
*   Author: Tony Vu
    Date: 08.12.2013
    Description: Responsive css for hello theme

    Ipad dimension: 768x1024
    Iphone        : 640x960  
    Desktop       : 1200
    Laptop        : 992
*/


/*@media (min-width: 1200px) {}
@media (min-width: 768px) {}
@media (max-width: 767px) {}
@media (min-width: 768px) and (max-width: 991px) {}
@media (min-width: 992px) {}
@media (min-width: 992px) and (max-width: 1199px) {}*/

/* Large desktop */
@media (min-width: 1200px) {

}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {}

@media (max-width:990px){
  
}

/* Landscape phone to portrait tablet */
@media (min-width:768px){
    .navbar-default .navbar-brand{display: none;}
}
@media (max-width: 767px) {
    .cart > form{width: 100%; overflow-y: hidden; overflow-x: scroll; padding: 10px; border: 1px solid #dddddd; display: inline-block}
    .my-wishlist #wishlist-view-form {width: 100%; overflow-y: hidden; overflow-x: scroll;  display: inline-block}
    .cart-table .product-name{margin-top: 0}
    /* My Dashboard */
    .order-history-wrapper, .recent-orders{width: 100%; overflow-y: hidden; overflow-x: scroll; padding: 10px; border: 1px solid #dddddd; display: inline-block}
    
    /* bootstrap 3 fix the scroll bar of Navbar on Mobile device */
    .navbar-collapse {max-height: none;}
    
    .block-tags{display: none}
    
    /* quick access nav */
    .header-container .myaccount-text, .header-container .logout-text, .header-container .login-text, .header-container .register-text, .header-container .cart-text, .header-container .checkout-text, .header-container .wishlist-text{display: none}
    .header-container .myaccount-icon, .header-container .logout-icon, .header-container .login-icon, .header-container .register-icon, .header-container .cart-icon, .header-container .checkout-icon, .header-container .wishlist-icon{font-size: 1.5em}
    .header .logo{margin-bottom: 10px; display: block}
    
    /* cart page */
    .cart .cart-collaterals{padding-right: 0}
    .cart .crosssell{margin-top: 15px}
    .cart .giftcard, .cart .shipping{margin-left: 15px}
}
 
/* Landscape phones and down */
@media (max-width: 480px) {
    /* catalog category */
    .block-compare, .block-poll, .block-viewed, .paypal-logo, .block-wishlist{display: none}
    
    .sorter .sort-by{padding-right: 0}
}
