/*
*   Author: Tony Vu
    Date: 08.12.2013
    Description: Responsive css for hello theme

    Ipad dimension: 768x1024
    Iphone        : 640x960  
    Desktop       : 1200
    Laptop        : 992
*/


/*@media (min-width: 1200px) {}
@media (min-width: 768px) {}
@media (max-width: 767px) {}
@media (min-width: 768px) and (max-width: 991px) {}
@media (min-width: 992px) {}
@media (min-width: 992px) and (max-width: 1199px) {}*/

/* Large desktop */
@media (min-width: 1200px) {

}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {}

@media (max-width:990px){
 .l_block, .m_block, .r_block {text-align: center; padding-top:15px} 
 .img-responsive{display:inline-block}
}

/* Landscape phone to portrait tablet */
@media (min-width:768px){
    .navbar-default .navbar-brand, .navbar-inverse .navbar-brand{display: none;}
	.sort-by .input-group{display:inline-table; width:65%}
}
@media (max-width: 767px) {
    .sort-by .input-group{display:inline-table; width:90%}
    .cart > form{width: 100%; overflow-y: hidden; overflow-x: scroll; padding: 10px; border: 1px solid #dddddd; display: inline-block}
    #product-review-table{width: 100%; overflow-y: hidden; overflow-x: scroll; padding: 10px; border: 1px solid #dddddd; display: inline-block}
    #reward-history{width: 100%; overflow-y: hidden; overflow-x: scroll; padding: 10px; border: 1px solid #dddddd; display: inline-block}
    #checkout-review-table-wrapper #checkout-review-table{width: 100%; overflow-y: hidden; overflow-x: scroll; padding: 10px; border: 1px solid #dddddd; display: inline-block}
    .my-wishlist #wishlist-view-form {width: 100%; overflow-y: hidden; overflow-x: scroll;  display: inline-block}
    .cart-table .product-name{margin-top: 0}
    /* My Dashboard */
    .order-history-wrapper, .recent-orders{width: 100%; overflow-y: hidden; overflow-x: scroll; padding: 10px; border: 1px solid #dddddd; display: inline-block}
    
    /* bootstrap 3 fix the scroll bar of Navbar on Mobile device */
    .navbar-collapse {max-height: none;}
    
    .block-tags{display: none}
   .main-banner1{text-align:center} 
   .main-banner2{text-align:center; padding-top:15px} 
    /* quick access nav */
    .header-container .myaccount-text, .header-container .logout-text, .header-container .login-text, .header-container .register-text, .header-container .cart-text, .header-container .checkout-text, .header-container .wishlist-text, .header-container .invitation-text{display: none}
    .header-container .myaccount-icon, .header-container .logout-icon, .header-container .login-icon, .header-container .register-icon, .header-container .cart-icon, .header-container .checkout-icon, .header-container .wishlist-icon, .header-container .invitation-icon{font-size: 1.5em}
    .header .logo{margin-bottom: 10px; display: block}
    .header .welcome-msg{padding-top:10px}
    .header .languageswitch{float:left} 
    /* cart page */
    .cart .cart-collaterals{padding-right: 0}
    .cart .crosssell{margin-top: 15px}
    .cart .deals{padding:0}
    .cart .giftcard{margin-top:-1px}
    .sidebar{margin-top:20px}
}
 
/* Landscape phones and down */
@media (max-width: 480px) {
    /* catalog category */
    .block-compare, .block-poll, .block-viewed, .paypal-logo, .block-wishlist{display: none}
   .usp .icon{display:none}
   .sorter .sort-by{padding-right: 0}
   .sorter .sort-by .input-group-addon{display:none}
   /* product list */
   .products-list .product-shop {margin-left: 0; clear: both;}
}
