<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Tvcom_Responsive>
            <version>0.0.1</version>
        </Tvcom_Responsive>
    </modules>
    <global>
	<page>
	      <layouts>
		<Full_Grid translate="label">
		  <label>Full Grid</label>
		  <template>page/fullgrid.phtml</template>
	<!--	  <layout_handle>fullgrid.xml</layout_handle>-->
		</Full_Grid>
	      </layouts>
	    </page>
    </global>
</config>
